/*  */
body{
    color: rgb(255, 255, 255); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;     
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    h1{
        margin: 150px;
    }
}

#main_page_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main_page_card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 300px;
    height: 400px;
    text-align: center;
    background-color: rgb(111, 111, 111);
    border-radius: 5px;
    margin: 4px;
    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border : 5px solid white;
    }
}