/*#######################################################################################################*/
/*--------------------------------------------- VARIABLES -----------------------------------------------*/
/*#######################################################################################################*/
:root{
    --text-color : white;
    --main-bck-color : black;
    --card-container-bck-color : rgb(125, 125, 125);
    --card-bck-color : rgb(35, 35, 35);
    --text-special-effect : "•----------•";
}







/*#######################################################################################################*/
/*--------------------------------------------- GENERAL -------------------------------------------------*/
/*#######################################################################################################*/
body{
    color: var(--text-color); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;     
    background-color: var(--main-bck-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    h1{
        margin: 150px;
    }
}

h2::before{
    content : var(--text-special-effect);
    color: var(--text-color);
}
h2::after{
    content : var(--text-special-effect);
    color: var(--text-color);
}
/*#######################################################################################################*/
/*--------------------------------------------- MAIN PAGE -----------------------------------------------*/
/*#######################################################################################################*/

a{
    color: var(--text-color);
    text-decoration: none;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}


#main_page_container{
    width: 800px ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main_page_card{
    border : 5px solid rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 300px;
    height: 400px;
    text-align: center;
    background-color: var(--card-container-bck-color);
    border-radius: 5px;

    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border : 5px solid white;
    }
}

a:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.appear {
	animation: appear 0.5s ease-in-out both;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*#######################################################################################################*/
/*----------------------------------------- PERSONAL PAGE -----------------------------------------------*/
/*#######################################################################################################*/



.cardBox{
    box-shadow: inset 5px 5px 30px 1px rgba(0,0,0,0.92);
    margin: 10px 0px 70px 0px;
    width: fit-content;
    min-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    text-align: center;
    background-color: var(--card-container-bck-color);
    border-radius: 15px;
    padding:10px;
    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border : 5px solid white;
        box-shadow: 5px 5px 45px 5px rgba(0,0,0,0.56);
    }
    p{
        max-width: 500px;
    }
}
.fact-card{
    border: 4px solid rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    min-width: 400px;
    padding: 5px;
    margin: 5px;
    background-color: var(--card-bck-color);
    border-radius: 5px;
    box-shadow: 5px 5px 45px 5px rgba(0,0,0,0.56);


}

.small-card{
    border: 3px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    height: 40px;
    width: fit-content;
    min-width: 90px;
    padding: 5px;
    margin: 5px;
    background-color: var(--card-bck-color);
    border-radius: 5px;
    box-shadow: 5px 5px 45px 5px rgba(0,0,0,0.56);

}

.small-card:hover{
    border: 3px solid rgb(255, 255, 255);
    transform: scale(1.2);
    transition: all 0.3s ease-in-out ;
}

.fact-card:hover{
    border: 4px solid rgb(255, 255, 255);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out ;
}

img{
    filter : grayscale(1);
    transition: all 0.2s ease-in-out;
}

img:hover{
    filter : grayscale(0);
    transition: all 0.2s ease-in-out;
}